#drawSpace {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -245px;
  width: 490px;
  height: 220px;
  text-align: left;
}

#drawSpace > div.preview {
  position: relative;
  top: 0px;
  left: 50%;
  margin-left: -135px;
  width: 267px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#drawSpace > label {
  margin-left: 140px;
  font-size: 30px;
}