.inputContainer {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -200px;
  border: 3px solid #56A;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #67B;
  width: 400px;
  height: 200px;
  text-align: center;
  background: rgba(179,220,237,1);
  background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(179,220,237,1) 10%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 90%, rgba(188,224,238,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(10%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(90%, rgba(188,224,238,1)), color-stop(100%, rgba(188,224,238,1)));
  background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(179,220,237,1) 10%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 90%, rgba(188,224,238,1) 100%);
  background: -o-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(179,220,237,1) 10%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 90%, rgba(188,224,238,1) 100%);
  background: -ms-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(179,220,237,1) 10%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 90%, rgba(188,224,238,1) 100%);
  background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(179,220,237,1) 10%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 90%, rgba(188,224,238,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=0 );
}
.nametag {
  position: relative;
  top: 70px;
  font-size: 30px;
  line-height: 28px;
}
.nametag > input {
  line-height: 20px;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  border: 2px solid #56A;
  border-right: 0px;
  border-radius: 2px;
  background: rgba(179,220,237,1);
  padding: 0px;
  height: 31px;
  width: 200px;
}
.nametag > button {
  line-height: 20px;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  border: 2px solid #56A;
  border-radius: 2px;
  background: rgba(179,220,237,1);
  height: 35px;
  cursor: pointer;
}
.nametag > button:hover {
  background: rgba(159,200,217,1);
}
.nametag > button:active {
  background: rgba(139,180,197,1);;
}

.interim {
  position: relative;
  top: 60px;
  font-size: 30px;
  line-height: 28px;
}
.interim > button {
  line-height: 30px;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  border: 2px solid #56A;
  border-radius: 2px;
  background: rgba(179,220,237,1);
  height: 50px;
  cursor: pointer;
}
.interim > button:hover {
  background: rgba(159,200,217,1);
}
.interim > button:active {
  background: rgba(139,180,197,1);;
}