<!doctype html>
<html>
  <head>
    <title>Telepicto</title>
    <!-- <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'> -->
    <link href='/static/css/common.css' rel='stylesheet' type='text/css'/>
    <link href='/static/css/interim.css' rel='stylesheet' type='text/css'/>
    <link href='/static/css/drawer.css' rel='stylesheet' type='text/css'/>
    <link href='/static/css/judging.css' rel='stylesheet' type='text/css'/>
    <link href='/static/css/summary.css' rel='stylesheet' type='text/css'/>
    <!-- // <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js'></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="/static/js/main.js"></script>
    {{#if debugMode}}
    <script src="/static/js/debug.js"></script>
    {{/if}}
    <script type="text/javascript" src="/static/js/drawer.js"></script>
  </head>
  <body class='noselect'>
    <ul id='scoreBoard'>
    </ul>
    <div id='scorePoints'>
      <label id='score_label'>
        <b>Score:</b>
      </label>
      <label id='score_point'>
        <b>0</b>
      </label>
    </div>
    {{#if debugMode}}
    <div id='debug'>
      <label>~~ DEBUG ~~</label><br>
      <label class='sessionCount'><b>Active games</b> = <span>NA</span></label><br><br>
      <label><b>Image Library:</b></label>
      <ul class='imageCounts'><li>NA</li></ul>
    </div>
    {{/if}}
    <div id="welcomeSpace" class='inputContainer'>
      <form class='nametag' action=''>
        <label>Enter your name</label><br>
        <input type='text' autocomplete='off'/><button>Start</button>
      </form>
      <label id="definition">
        <b>rit·u·al</b> <em>/ˈriCH(əw)əl/</em><br>
        <em>noun: ritual; plural noun: rituals</em><br><br>
        <b>a series of actions or type of behavior regularly and invariably followed by someone.</b><br>
      </label>
    </div>
    <div id="continueSpace" class='inputContainer not_shown'>
      <form class='interim' action=''>
        <label>Times up! Pencils down!</label><br>
        <button>Play another round</button>
      </form>
    </div>
    <div id='drawSpace' class='not_shown'>
      <label>Draw this image</label><br>
      <div class='preview'></div>
      <div class='timer wrapper'>
        <div class='pie spinner'></div>
        <div class='pie filler'></div>
        <div class='mask'></div>
      </div>
      <div id='drawCanvas'></div>
    </div>
    <div id='judgeSpace' class='not_shown'>
      <label class='notify'>Choose the closest match</label>
      <img class='outline' src="/static/images/judging-outline.png"/>
      <div class='source'/></div>
      <div class='choice upper left'/></div>
      <div class='choice upper right'/></div>
      <div class='choice lower left'/></div>
      <div class='choice lower right'/></div>
      <div class='choiceLarge upper not_shown left'/></div>
      <div class='choiceLarge upper not_shown right'/></div>
      <div class='choiceLarge lower not_shown left'/></div>
      <div class='choiceLarge lower not_shown right'/></div>
    </div>
    <div id='summarySpace' class='not_shown'>
      <img class='outline' src="/static/images/summary-outline.png">
      <div class='source original order0'/></div>
      <div class='source tier1 order1'/></div>
      <div class='source tier2 order2 left'/></div>
      <div class='source tier2 order3 right'/></div>
      <div class='source tier3 order4 farleft'/></div>
      <div class='source tier3 order5 left'/></div>
      <div class='source tier3 order6 right'/></div>
      <div class='source tier3 order7 farright'/></div>

      <div class='sourceLarge not_shown original order0'/></div>
      <div class='sourceLarge not_shown order1 tier1'/></div>
      <div class='sourceLarge not_shown order2 tier2 left'/></div>
      <div class='sourceLarge not_shown order3 tier2 right'/></div>
      <div class='sourceLarge not_shown order4 tier3 farleft'/></div>
      <div class='sourceLarge not_shown order5 tier3 left'/></div>
      <div class='sourceLarge not_shown order6 tier3 right'/></div>
      <div class='sourceLarge not_shown order7 tier3 farright'/></div>

      <label class='nametag order1'>Name1</label>
      <label class='nametag order2'>Name2</label>
      <label class='nametag order3'>Name3</label>
      <label class='nametag order4'>Name4</label>
      <label class='nametag order5'>Name5</label>
      <label class='nametag order6'>Name6</label>
      <label class='nametag order7'>Name7</label>

      <form class='interim' action=''>
        <label>Summary view</label><br>
        <button>Play another round</button>
      </form>
    </div>
  </body>
</html>