<!doctype html>
<html>
  <head>
    <title>Telepicto</title>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='/static/css/common.css' rel='stylesheet' type='text/css'/>
    <link href='/static/css/interim.css' rel='stylesheet' type='text/css'/>
    <link href='/static/css/drawer.css' rel='stylesheet' type='text/css'/>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/drawer.js"></script>
  </head>
  <body>
    <div id="startPrompt" class='inputContainer'>
      <form class='nametag' action="">
        <label>Enter your name</label><br>
        <input type='text'/><button>Start</button>
      </form>
    </div>
    <div id='drawSpace' class='not_shown'>
      <label>Draw this image</label><br>
      <div class='previewContainer'><img class='preview' src=''/></div>
      <div class='timer wrapper'>
        <div class='pie spinner'></div>
        <div class='pie filler'></div>
        <div class='mask'></div>
      </div>
      <div id='drawCanvas'></div>
    </div>
  </body>
</html>