<!DOCTYPE html>
<html>
  <head>
    <title>Interim example screen</title>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js'></script>
    <link href='/static/css/common.css' rel='stylesheet' type='text/css'/>
    <link href='/static/css/interim.css' rel='stylesheet' type='text/css'/>
  </head>
  <body>
    <div class='inputContainer'>
      <div class='interim'>
        <label>Round complete!</label><br>
        <button>Play another round?</button>
      </div>
    </div>
  </body>
</html>