<!DOCTYPE html>
<html>
  <head>
    <title>Summary example screen</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <link href='/static/css/common.css' rel='stylesheet' type='text/css'/>
    <link href='/static/css/judging.css' rel='stylesheet' type='text/css'/>
  </head>
  <body>
    <div id='judgeSpace'>
      <img class='outline' src="/static/images/judging-outline.png"/>
      <div class='source' style='background-image: url("/static/images/test.jpg");'/></div>
      <div class='choice upper left' style='background-image: url("/static/images/test.jpg");'/></div>
      <div class='choice upper right' style='background-image: url("/static/images/test.jpg");'/></div>
      <div class='choice lower left' style='background-image: url("/static/images/test.jpg");'/></div>
      <div class='choice lower right' style='background-image: url("/static/images/test.jpg");'/></div>
      <div class='choiceLarge upper not_shown left' style='background-image: url("/static/images/test.jpg");'/></div>
      <div class='choiceLarge upper not_shown right' style='background-image: url("/static/images/test.jpg");'/></div>
      <div class='choiceLarge lower not_shown left' style='background-image: url("/static/images/test.jpg");'/></div>
      <div class='choiceLarge lower not_shown right' style='background-image: url("/static/images/test.jpg");'/></div>
    </div>
    <script>
      $('#judgeSpace > div.choice').hover(function() {
        var classes = this.className.replace('choice', 'choiceLarge').replace('not_shown', '').replace(/ /g, '.');

        $('#judgeSpace > div.choiceLarge').addClass('not_shown');
        $('#judgeSpace > div.choiceLarge.' + classes).removeClass('not_shown');
      });

      $('#judgeSpace > div.choiceLarge').mouseleave(function() {
        $(this).addClass('not_shown');
      });

      $('#judgeSpace > div.choiceLarge').click(function() {
        var url = $(this).css('background-image').replace('url("', '').replace('")', '');
        var className = this.className.replace('choiceLarge', 'choice').replace(/ /g, '.');
        $('#judgeSpace > div.' + className).addClass('selected');
        $(this).addClass('not_shown');
      });
    </script>
  </body>
</html>